<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/{{fileCss}}" />
  </head>
  <body>
    <div class="containerFather">
        <div class="containerProfile">
            <div class="checkoutTittle">
            <h1>Compra exitosa </h1>
            <i class="bi bi-check-circle-fill"></i>
            </div>
            <h2>Codigo de la orden: {{ticket.code}}</h2>
            <h3>Fecha de compra: {{ticket.purchase_date}}</h2>
             <h2>Monto total:  ${{ticket.amount}}</h2>
            <h3>Comprador: {{ticket.purchaser}}</h2>
            <div class="warningEmail">
                <p>Enviamos  informacion mas detallada a tu correo electronico</p>
            </div>
            <div class="logoutButtonProfile">
                        <a href="/products" type="button" class="btn btn-primary">Regresar<i class="bi bi-box-arrow-right"></i></a>
             </div>
        </div>
    </div>
    <a href="/products" type="button" class="btn btn-primary">Regresar<i class="bi bi-box-arrow-right"></i></a>
  </body>
</html>