<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/{{fileCss}}" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<nav class="navbar navbar-expand-lg  bg-dark " data-bs-theme="dark">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/products">Ecommerce</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse menuCollap " id="navbarSupportedContent">

            <div class=" ms-auto w-0 navBarOpt ">
                <div>
                    <a class="navbar-brand" href="/products">Productos</a>
                    <a class="navbar-brand" href="/carts/{{user.cart}}">Carrito</a>
                    <a class="navbar-brand" href="/current">Perfil</a>
                </div>

                <div class="containerLogOut">
                    <p class="textoRol">Bienvenido : {{user.email}} </p>
                    <div class="infoUserNav"> 
                        <p class="textoRol">Rol :<i class="bi bi-person-fill"></i> {{user.role}} </p>
                    <a href="/api/sessions/logout" type="button" class="btn btn-dark buttonLogOut">Cerrar Sesion <i
                            class="bi bi-box-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<body>
  <div class="tittleHeader">
    <h1>Nuestros Productos</h1>
  </div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="./img/offer-two.jpg" class="d-block  w-25 positionImg" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img  src="./img/offer-tree.jpg" class="d-block w-25 positionImg" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 <div class="button-container">
        <a href="/carts/{{user.cart}}" class="circular-button"><i class="bi bi-cart4"></i></a>
  </div>
    <div class="titlePrincipal">
      <h1>Listado de Productos</h1>
    </div>
  <div class="accordion accordion-flush "  id="accordionFlushExample">
    <div class="accordion-item ">
      <h2 class="accordion-header">
        <button class="accordion-button backGroundColorAccordion " type="button" data-bs-toggle="collapse" 
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Filtrar por :
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="selectContainer">
            <select
              onchange="window.location.href = '/products?sort=' + this.value + '&{{getUpdatedQuery query 'sort'}}'"
              class="form-select" aria-label="Default select example">
              <option value="" {{#unless sort}}selected{{/unless}}>Ordenar por...</option>
              <option {{#if_eq sort "price" }}selected{{/if_eq}} value="price">Ordenar por precio ascendente</option>
              <option {{#if_eq sort "-price" }}selected{{/if_eq}} value="-price">Ordenar por precio descendente</option>
              <option {{#if_eq sort "title" }}selected{{/if_eq}} value="title">Ordenar por nombre ascendente</option>
              <option {{#if_eq sort "-title" }}selected{{/if_eq}} value="-title">Ordenar por nombre descendente</option>
              <option {{#if_eq sort "stock" }}selected{{/if_eq}} value="stock">Ordenar por stock ascendente</option>
              <option {{#if_eq sort "-stock" }}selected{{/if_eq}} value="-stock">Ordenar por stock descendente</option>
            </select>

            <select class="form-select"
              onchange="window.location.href = '/products?category=' + this.value + '&{{getUpdatedQuery query 'category'}}'">
              <option value="" {{#unless query}}selected{{/unless}}>Categorias:</option>
              {{#each categories}}
              <option {{#if_eq ../category this}}selected{{/if_eq}} value="{{this}}">{{this}}</option>
              {{/each}}
            </select>

            <select class="form-select"
              onchange="window.location.href = '/products?limit=' + this.value + '&{{getUpdatedQuery query 'limit'}}'">
              <option value="" {{#unless limit}}selected{{/unless}}>Limite de productos :</option>
              <option {{#if_eq limit 5}}selected{{/if_eq}} value="3">3</option>
              <option {{#if_eq limit 10}}selected{{/if_eq}} value="4">4</option>
              <option {{#if_eq limit 15}}selected{{/if_eq}} value="5">5</option>
              <option {{#if_eq limit 20}}selected{{/if_eq}} value="10">10</option>
            </select>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="productListContainer">
    {{#each payload}}
    <div class="card" style="width: 20rem;">
      <div class="containerCardImg">
      <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Marca {{this.title}}</h5>
        <p class="card-text">Descripcion: {{this.description}}</p>
        <p class="card-text">Precio: $ {{this.price}}</p>
        <p class="card-text">Stock disponible: {{this.stock}} und</p>
        <p class="card-text">Categoria: {{this.category}}</p>
        <p class="card-text">Id: {{this._id}}</p>
        <div class="containerBtn">
        <button class="btn btn-primary widthButton" onclick="increaseNumber('{{this.stock}}','{{this._id}}')">+</button>
          <input class="form-control widhtInput " disabled type="number" id="{{this._id}}" value="1" min="1" max="{{this.stock}}">
        <button class="btn btn-primary widthButton" onclick="decreseNumber('{{this._id}}')" >-</button>
        </div>
         <a id="addToCart" onclick="addCart('{{../user.cart}}','{{this._id}}')" class="btn btn-primary widthButtonAdd">Añadir al carrito<i class="bi bi-cart-plus"></i></a>
      </div>
    </div>
    {{/each}}

   

  </div>
  {{!-- <a class="cartFixed" href=""><i class="bi bi-cart4"></i></a> --}}
  <div class="acctionsButtonPage">
    {{#if hasPrevPage}}
    <a type="button" class="btn btn-primary"
      href="/products?page={{prevPage}}&{{getUpdatedQuery query 'page'}}"><i class="bi bi-arrow-left-circle"></i> Anterior</a>
    {{/if}}
    <p class="textPage">Pagina {{currentPage}} de {{totalPages}}</p>
    {{#if hasNextPage}}
    <a type="button" class="btn btn-primary"
      href="/products?page={{nextPage}}&{{getUpdatedQuery query 'page'}}">Siguiente <i class="bi bi-arrow-right-circle"></i></a>
    {{/if}}
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="/js/cart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>