<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/{{fileCss}}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/current">Ecommerce</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse menuCollap"
        id="navbarSupportedContent"
      >

        <div class="ms-auto w-0 navBarOpt">
          <div>
            {{#if_eq userDto.role "premium"}}<a
                class="navbar-brand"
                href="/products"
              >Productos</a>{{/if_eq}}
            {{#if_eq userDto.role "user"}}<a
                class="navbar-brand"
                href="/products"
              >Productos</a>{{/if_eq}}
            {{#if_eq userDto.role "premium"}}<a
                class="navbar-brand"
                href="/carts/{{userDto.cart}}"
              >Carrito</a>{{/if_eq}}
            {{#if_eq userDto.role "user"}}<a
                class="navbar-brand"
                href="/carts/{{userDto.cart}}"
              >Carrito</a>{{/if_eq}}
            <a class="navbar-brand" href="/current">Perfil</a>
          </div>
          <div class="containerLogOut">
            <p class="textoRol">Bienvenido : {{userDto.email}} </p>
            <div class="infoUserNav">
              <p class="textoRol">Rol :<i class="bi bi-person-fill"></i>
                {{userDto.role}}
              </p>
              <a
                href="/api/sessions/logout"
                type="button"
                class="btn btn-dark buttonLogOut"
              >Cerrar Sesion <i class="bi bi-box-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <body>
    <div class="containerFather">
      <div class="containerProfile">
        <h1>Gestion de Usuarios</h1>

        <table class="table table-success table-striped-columns">
          <thead>
            <tr>

              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Email</th>
              <th scope="col">Rol</th>
              <th class="buttonActtionCenter" scope="col">Cambiar Rol</th>
              <th class="buttonActtionCenter" scope="col">Eliminar usuario</th>
            </tr>
          </thead>
          {{#each users}}
            <tbody>
              <tr>

                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{email}}</td>
                <td>{{rol}}</td>
                <td class="buttonActtionCenter"><button
                    onclick="changeRoleForAdm('{{id}}')"
                    type="button"
                    class="btn btn-outline-danger"
                  ><i class="bi bi-arrow-down-up"></i></button></td>
                <td class="buttonActtionCenter"><button
                    onclick="deleteUser('{{email}}')"
                    type="button"
                    class="btn btn-outline-danger"
                  ><i class="bi bi-trash"></i></button></td>
              </tr>
            </tbody>
          {{/each}}
        </table>

        <p>Eliminar todos los usuarios con mas de 2 dias de inactividad</p>
        <div class="logoutButtonProfile">
          <a onclick="deleteUsers()" type="button" class="btn btn-danger">Eliminar<i
              class="bi bi-trash"
            ></i></a>
        </div>

        <div class="logoutButtonProfile">
          <a href="/current" type="button" class="btn btn-primary">Regresar<i
              class="bi bi-box-arrow-right"
            ></i></a>
        </div>
      </div>
    </div>
    <script src="/js/change.role.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
  </body>

</html>